<div class="c">
    <div class="small__card__photo">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAACUCAMAAACNzMQlAAAAElBMVEXj4+PR0dHV1dXg4ODd3d3Y2NhRj9zIAAACPUlEQVR4nO3c23aDIBCF4YDw/q/cYk4GBtNVQZnh/y7bG3dnA2qyersBAAAAAAAAAAAAAAAAwPCWEL2PIVx9HacL3rs7P1n4+AyexKuv5kTLNnga/HL1FZ0musw0cw958mmyB19Gn2SvK+o+zdjzPW6inU7q+ySNFza5ZN7oTN22Odb6EkIodu4pdvgliplmONfvGWOeXVzstvoeKgNdhLEXfx/V3ttZPtFytdta6Zt8Pv9dvskb2953X8N8Zjec3LnyhNusd1vrPN/Fi8o/XsimV7K2gpfnl7Fju24pTy9by7lOegN19TW1Fn7XavlT8SbdVuXvR3cxT/Ee3VjlvTjPyvO4c9dcZBev6X5kryY3tNw3GbfZq8kNVV68U5XfQxgb++dm9sy+l9xK9nxJrzfi0pO4+BfSTHjkjiHuz9zZeEb7Nl67Y6+fYNaz7+7j+5RX/ututjt21c/nR5LrrvyBuieKK3+o7mt2tZU/mlxv5f9/rmkf+8GFrjn78bonGne6BnVPFI69Sd11Zm+VXN8u36juK11jb1Z3fdmbJldV+Tbn2puesQufIc6SvXlyNZVvXfdEx01dy3PtTUPl255rLxo+k+hR92T8yvepu1NwLy9/j7tN9quzfdEv+eiV71b3ZOgXtB3rvma/Ol9dp3Ptbdyx9zrXXoatfNeF/sh+dUZZ97onY469e92TISt/Qt3X7APe1J0y9CHHfvhT1b8aL/rMhU//P6Y/3V8yAQAAAAAAAAAAAAAAADCYH1P7E21Wx/DaAAAAAElFTkSuQmCC" 
        alt=""
         srcset=""
         >
    </div>
    <div class="small__card__title">
        <h1><a href="#">Artur é mó lindão</a></h1>
    </div>
</div>